<!DOCTYPE html>
<html>
  <head>
    <title>Manasana</title>
    <link href="https://fonts.googleapis.com/icon?family=Material+Icons" rel="stylesheet">
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/font-awesome/4.4.0/css/font-awesome.min.css">
    <link href="https://fonts.googleapis.com/css?family=Cabin+Condensed|Roboto|Gabriela|Handlee|Josefin+Sans|Lemonada" rel="stylesheet">
    <script src="https://apis.google.com/js/platform.js" async defer></script>
    <meta name="google-site-verification" content="JpapxSb8otXYWRLtQ9wlysGrTn-KogMmLfZnlBHzzps" />
    <meta name="google-signin-client_id" content="246323436996-2le86gdk9npnp5c6omplqk7j7ci5idsi.apps.googleusercontent.com">
    <%= csrf_meta_tags %>
    <%= favicon_link_tag 'favicon.ico' %>
    <%= stylesheet_link_tag    'application', media: 'all' %>
    <%= javascript_include_tag 'application' %>
  </head>

  <body>
    <%= yield %>
  </body>
</html>
